<a href="https://colab.research.google.com/github/ttvhh/CS114.K21/blob/master/%5BCase_Study%5D_Web_Crawler_Using_BeautifulSoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from requests import get
from bs4 import BeautifulSoup

url = 'http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=1'
response = get(url)
#print(response.text[:500])

html_soup = BeautifulSoup(response.text, 'html.parser')
#type(html_soup)

movie_containers = html_soup.find_all('div', class_ = 'lister-item mode-advanced')

# Lists to store the scraped data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
# Extract data from individual movie container
for container in movie_containers:
# If the movie has Metascore, then extract:
    if container.find('div', class_ = 'ratings-metascore') is not None:
# The name
    	name = container.h3.a.text
    	names.append(name)
# The year
    	year = container.h3.find('span', class_ = 'lister-item-year').text
    	years.append(year)
# The IMDB rating
    	imdb = float(container.strong.text)
    	imdb_ratings.append(imdb)
# The Metascore
    	m_score = container.find('span', class_ = 'metascore').text
    	metascores.append(int(m_score))
# The number of votes
    	vote = container.find('span', attrs = {'name':'nv'})['data-value']
    	votes.append(int(vote))

import pandas as pd
test_df = pd.DataFrame({'movie': names,
'year': years,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes
})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      42 non-null     object
 1   year       42 non-null     object
 2   imdb       42 non-null     float64
 3   metascore  42 non-null     int64
 4   votes      42 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.8+ KB
None

                                               movie  ...   votes
0                                              Logan  ...  619607
1                                     Thor: Ragnarok  ...  555740
2                     Guardians of the Galaxy Vol. 2  ...  542887
3            Star Wars: Episode VIII - The Last Jedi  ...  542029
4                                       Wonder Woman  ...  530012
5                                            Dunkirk  ...  521529
6                             Spider-Man: Homecoming  ...  487465
7                                            Get Out  ...  463948
8                                                 It  ...  436512
9                                  Blade Runner 2049  ...  433544
10                                       Baby Driver  ...  414251
11         Three Billboards Outside Ebbing, Missouri  ...  402832
12                                    Justice League  ...  366228
13                                The Shape of Water  ...  352582
14                              John Wick: Chapter 2  ...  346438
15                                              Coco  ...  343335
16                    Jumanji: Welcome to the Jungle  ...  303263
17                              Beauty and the Beast  ...  260772
18                                Kong: Skull Island  ...  259341
19                       Kingsman: The Golden Circle  ...  258166
20  Pirates of the Caribbean: Dead Men Tell No Tales  ...  251047
21                                   Alien: Covenant  ...  245391
22                                         Lady Bird  ...  222632
23                              The Greatest Showman  ...  221906
24                    War for the Planet of the Apes  ...  219568
25                      Murder on the Orient Express  ...  199921
26                                              Life  ...  199178
27                           The Fate of the Furious  ...  197064
28                              Call Me by Your Name  ...  194073
29                                        Wind River  ...  192264
30                                Ghost in the Shell  ...  189919
31                  King Arthur: Legend of the Sword  ...  184840
32                                           Mother!  ...  181656
33                            The Hitman's Bodyguard  ...  178681
34                                          I, Tonya  ...  169944
35                                     Atomic Blonde  ...  167904
36                                         The Mummy  ...  167394
37                                      Darkest Hour  ...  162549
38                                            Bright  ...  162486
39       Valerian and the City of a Thousand Planets  ...  155556
40                                          Baywatch  ...  154092
41                                     American Made  ...  151275

[42 rows x 5 columns]