<a href="https://colab.research.google.com/github/ttvhh/CS114.K21/blob/master/Copy_of_Kaggle_API_access_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Run this cell and select the kaggle.json file downloaded
# from the Kaggle account settings page.
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"ttvhh99","key":"c1d9528d6171a8315edbe62191abde29"}'}

In [2]:
# Let's make sure the kaggle.json file is present.
!ls -lha kaggle.json

-rw-r--r-- 1 root root 63 Apr  4 15:24 kaggle.json

In [0]:
# Next, install the Kaggle API client.
!pip install -q kaggle

In [4]:
!ls -a

.  ..  .config	kaggle.json  sample_data

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [13]:
# List available datasets.
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                            title                                                size  lastUpdated          downloadCount
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge              COVID-19 Open Research Dataset Challenge (CORD-19)    1GB  2020-04-03 22:53:52          41906
fireballbyedimyrnmom/us-counties-covid-19-dataset              US counties COVID 19 dataset                        226KB  2020-04-03 20:29:13            792
ryanxjhan/cbc-news-coronavirus-articles-march-26               CBC News Coronavirus/COVID-19 Articles (NLP)          6MB  2020-03-27 23:23:07            305
vitaliymalcev/russian-passenger-air-service-20072020           Russian passenger air service 2007-2020             239KB  2020-04-02 22:27:03            206
bappekim/air-pollution-in-seoul                                Air Pollution in Seoul                               20MB  2020-04-03 16:33:49            206
danevans/world-bank-wdi-212-health-systems                     World Bank WDI 2.12 - Health Systems                  6KB  2020-03-29 19:00:14            373
sobhanmoosavi/us-accidents                                     US Accidents (3.0 million records)                  199MB  2020-01-17 04:45:09          12251
eswarchandt/amazon-music-reviews                               Amazon Musicual Instruments Reviews                   5MB  2020-03-29 02:59:52            166
trtmio/project-coviewed-subreddit-coronavirus-news-corpus      Project COVIEWED Coronavirus News Corpus              8MB  2020-03-31 11:32:45             24
monogenea/birdsongs-from-europe                                Bird songs from Europe (xeno-canto)                   7GB  2020-03-23 15:35:20             33
dheerajmpai/hospitals-and-beds-in-india                        Hospitals and beds in India (Statewise)               5KB  2020-03-27 14:05:50            242
lakritidis/identifying-influential-bloggers-techcrunch         Identifying Influential Bloggers: Techcrunch        112MB  2020-03-30 19:22:09             50
roche-data-science-coalition/uncover                           UNCOVER COVID-19 Challenge                          154MB  2020-04-01 15:17:39            887
kimjihoo/coronavirusdataset                                    Data Science for COVID-19 (DS4C)                      3MB  2020-03-30 19:54:12          24882
sudalairajkumar/novel-corona-virus-2019-dataset                Novel Corona Virus 2019 Dataset                     661KB  2020-04-04 03:27:12         108545
unanimad/dataisbeautiful                                       Reddit - Data is Beautiful                           11MB  2020-04-01 12:10:09           1481
jessemostipak/hotel-booking-demand                             Hotel booking demand                                  1MB  2020-02-13 01:27:20          12469
rubenssjr/brasilian-houses-to-rent                             brazilian_houses_to_rent                            282KB  2020-03-25 22:51:17           1623
paultimothymooney/covid19-containment-and-mitigation-measures  COVID-19 containment and mitigation measures        216KB  2020-04-03 11:08:32           1238
clmentbisaillon/fake-and-real-news-dataset                     Fake and real news dataset                           41MB  2020-03-26 18:51:15            664

In [14]:
# Copy the stackoverflow data set locally.
!kaggle datasets download -d bappekim/air-pollution-in-seoul

Downloading air-pollution-in-seoul.zip to /content
 46% 9.00M/19.7M [00:00<00:00, 35.4MB/s]
100% 19.7M/19.7M [00:00<00:00, 56.4MB/s]

In [15]:
!ls

air-pollution-in-seoul.zip  kaggle.json  sample_data

In [16]:
!unzip \air-pollution-in-seoul.zip

Archive:  air-pollution-in-seoul.zip
  inflating: AirPollutionSeoul/Measurement_summary.csv
  inflating: AirPollutionSeoul/Original Data/Measurement_info.csv
  inflating: AirPollutionSeoul/Original Data/Measurement_item_info.csv
  inflating: AirPollutionSeoul/Original Data/Measurement_station_info.csv

In [18]:
!ls

air-pollution-in-seoul.zip  AirPollutionSeoul  kaggle.json  sample_data

In [0]:
%cd ./AirPollutionSeoul

In [31]:
%cd ./Original\ Data

/content/AirPollutionSeoul/Original Data

In [33]:
import pandas as pd
d = pd.read_csv('Measurement_station_info.csv')
d.head()

   Station code Station name(district)  ...   Latitude   Longitude
0           101              Jongno-gu  ...  37.572016  127.005008
1           102                Jung-gu  ...  37.564263  126.974676
2           103             Yongsan-gu  ...  37.540033  127.004850
3           104           Eunpyeong-gu  ...  37.609823  126.934848
4           105           Seodaemun-gu  ...  37.593742  126.949679

[5 rows x 5 columns]

In [43]:
%cd /content/sample_data/

/content/sample_data

In [45]:
import pandas as pd
d = pd.read_csv("california_housing_test.csv")
d.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]